################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WBStreamer/.vs/WBStreamer
/WBStreamer/bin/Debug/net8.0
/WBStreamer/obj
/WBStreamee/.vs/WBStreamee
/WBStreamee/obj
/WBStreamee/.vs/ProjectEvaluation
/WBStreamee/bin/x64/Debug/net8.0
/ACSAudioCodecs/.vs
/ACSAudioCodecs/ACSAudioCodecs/x64
/ACSAudioCodecs/x64/Release
/ACSAudioCodecs/ACSAudioCodecs.vcxproj.filters
/ACSAudioCodecs/ACSAudioCodecs.vcxproj.user
/TestACSAudioCodes/.vs/TestACSAudioCodes
/TestACSAudioCodes/obj
/TestACSAudioCodecs/.vs
/TestACSAudioCodecs/bin
/TestACSAudioCodecs/obj
